# 데이터 및 설정
pandas
numpy<2.0.0
python-dotenv
pyyaml

# 문서 파싱 및 RAG
pymupdf
pdfplumber
langchain
langchain-community
langchain-openai
langchain-core
tiktoken
chromadb
faiss-cpu

# 평가
ragas
nltk
ranx>=0.3.16
rouge-score

# 로딩
tqdm

# 주피터 환경
ipykernel
ipywidgets