# 데이터 전처리 및 문서 파싱
pandas
numpy<2.0.0
python-dotenv
pyyaml
pymupdf
pdfplumber
python-docx          # DOCX 파일 파싱용 추가
olefile              # HWP 크로스플랫폼 가벼운 파싱용 패키지 추가!

# 머신러닝 / 딥러닝 백엔드 및 가속
accelerate           # GPU 분산 적재 및 LLM 구동 가속화 추가

# 임베딩 및 트랜스포머 모델
sentence-transformers # KURE-v1 내부 가동용 기반 패키지 추가
transformers         # 하깅페이스 모델 로드 코어 패키지 추가

# LangChain 최적화 생태계
langchain
langchain-community
langchain-core
langchain-huggingface  # GPU 실전 모델 연동용 핵심 패키지 추가
langchain-openai
tiktoken
chromadb
faiss-cpu

# 평가 및 모니터링
ragas
nltk
ranx>=0.3.16
rouge-score
tqdm

# 주피터 환경
ipykernel
ipywidgets            # 주피터 위젯 코어 패키지
widgetsnbextension    # 위젯 애니메이션 확장 플러그인